@model MVC_CORE_CRUD.Models.Units

@{
    ViewData["Title"] = "Create.";
}

<h1>Create Units</h1>
 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create.">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="visibility:hidden">
                <label asp-for="UnitID" class="control-label"></label>
                <input asp-for="UnitID" class="form-control"  value="0"/>
                <span asp-validation-for="UnitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit_Name" class="control-label"></label>
                <input asp-for="Unit_Name" class="form-control" />
                <span asp-validation-for="Unit_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" id="Status" class="form-control" asp-items="ViewBag.Status_lst" >
                <option>Select Status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
